/* 겹치는게 있어서 주석하고 확인해야 되는 것이 있음 */

h2 {color: red;}
/* div 태그 중 name 속성값이 name1인 태그 */
div[name=name1] {
    background-color: orangered;
} 
/* div 태그 중 name 속성값으로 name1이 포함되어 있는 태그 */
div[name~=name1] {
    background-color: yellow;
} 
/* div 태그 중 class 속성값이 class로 시작하는 태그, - 으로 구분*/
div[class|=class] {
    background-color: aqua;
} 
/* div 태그 중 name 속성값이 na로 시작하는 태그 */
div[name^=na] {
    background-color: blue;
} 
/* div 태그 중 class 속성값이 ss로 끝나는 태그 */
div[class$=ss] {
    color: white;
} 
/* div 태그 중 class 속성값으로 i가 포함된 태그 */
div[class*=i] {
    background-color: yellow;
    color: red;
} 
/* 자손(자식), 후손 선택자 */
/* #test1인 요소의 모든 자손 요소들 */
#test1 > * {
    background-color: pink;
}
/* #test1인 요소의 자손 요소 중 h4인 요소 */
#test1 > h4 {
    background-color: pink;
}
/* #test1인 요소의 자손 요소중 ul 요소의 li 요소 */
#test1 > ul > li {
    background-color: darkcyan;
}
/* #test1인 요소의 후손 요소중 li 요소 */
#test1  li {
    background-color: darkblue;
}

/* 동위 레벨 */
/* #test2 인 태그와 같은 위치의 div 태그 한개 */
#test2 + div {
    background-color: yellow;
}
/* #test2 인 태그와 같은 위치의 div 태그들 */
#test2 ~ div {
    background-color: green;
}
/* #test2 인 태그와 같은 위치의 ul 태그들 */
#test2 ~ ul {
    background-color: red;
}

/* 반응 선택자 */
/* class="area" 인 모든 태그 선택 */
.area { 
    background-color: yellowgreen;
    width: 100px;
    height: 100px;
    cursor: pointer; /* 마우스 커서의 모양 변경 */
}
/* id=active-test인 태그를 클릭한 경우 */
#active-test:active {
    background-color: yellow;
    color: red;
}
/* id=hover-test인 태그의 영역에 마우스 커서가 존재하는 경우 */
#hover-test:hover {
    background-color: goldenrod;
    color: blue;
}
/* id=hover-test 태그의 하위 태그인 button에 마우스가 진입한 경우 */
#hover-test>button:hover {
    background-color: maroon;
    color:white;
}
/* id=hover-test 태그의 하위 태그인 button을 클릭한 경우 */
#hover-test>button:active {
    background-color: black;
    color:yellow;
}

/* 상태 선택자 */
/* input 태그 중 type=checkbox이면서 선택된(checked) 태그 */
input[type=checkbox]:checked {
    width: 20px;
    height: 20px;
}
/* input 태그 중 type=checkbox이면서 선택된(checked) 태그의 label 태그*/
input[type=checkbox]:checked+label {
    font-size: 20px;
    font-weight: bold;
}
/* input 태그 중 name 속성의 값이 user로 시작하는 태그에 focus가 있는 경우 */
input[name^=user]:focus {
    background-color: pink;
}
/* 사용 가능한 button의 배경색을 violet으로 설정 */
button:enabled {
    background-color: violet;
}
/* 사용 불가능한 button의 배경색을 silver으로 설정 */
button:disabled {
    background-color: silver;
}
/* input 태그의 name 속성이 user로 시작하고 사용 불가능한 태그의 바탕색을 red로 설정 */
input[name^=user]:disabled {
    background-color: red;
}