* {
    box-sizing: border-box; 
    /* border:1px solid gray; */
}
.wrap{
    width:100%;
    max-width:1300px;
    margin:auto;
    display: flex;
    flex-direction: column;
}
.header{height:130px;display: flex;}
.header>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_logo_mini, .header_etc{width:20%;}
.header_logo_big{width:60%;}
.nav{
    height:40px;
    background-color:rgb(100, 170, 20);
    margin:5px 0px;
}
.nav>ul{
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
    height:100%;
}
.nav li{
    width:25%;
    font-size:18px;
    cursor:pointer;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav li a{
    text-decoration:none;
    color:white;
}
.nav li:hover{
    background-color:limegreen;
}
.content_wrap{
    min-height:400px;
    display: flex;
}
.content_side{width:15%;}
.content_img{
    width:60%;
    display: flex;
    flex-direction: column;
}
.content_img>div{display: flex;}
.content_img>div>div{flex-grow:1; padding:5px;}
.content_img img{width:100%;height:90%;}
.content_img p{
    margin:0;
    text-align:center;
    font-size:15px;
}
.content_etc{
    width:25%;
    display: flex;
    flex-direction: column;
}
.content_login{
    height:130px;
    display: flex;
    flex-direction: column;
}
.login_form{
    height:70%;
    display: flex;
}
.login_input_wrap{
    width:70%;
    display:flex;
    flex-direction: column;
}
.login_input_wrap input{
    height:100%;
}
.login_btn{
    width:30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_btn button{
    width:80%;
    height:80%;
}
.login_etc{
    height:20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.content_poster{height:290px;}
.content_etc img{width:100%; height:100%;}
.content_message{height:180px; }
.footer{
    height:130px;
}